<% content_for :title do %>
    Provider Assignment Error
<% end %>

<% content_for :header do %>

<% end %>

  <h2>Provider Assignment Error</h2>

  <% if @patientprovider.errors.any? %>
      <h2>Invalid Assignment :( <br> Please inform admin how you got here</h2>
      <div class='error_messages' align="left">
        <ul>
          <% for message in @patientprovider.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

<% content_for :panel do %>
    <ul>
      <li>#TODO</li>
    </ul>
<% end %>
