<title>Edit Individual: <%= session[:edit_patient_original_name] %> Error</title>

<table class="background">
  <tr class="background">
    <td width="75px"></td>
    <td><h3>Edit Individual: <%= session[:edit_patient_original_name] %> Error</h3></td>
  </tr>
</table>

<% if @patient.errors.any? %>
    <h2>Invalid Assignment</h2>
    <div class='error_messages' align="left">
      <ul>
        <% for message in @patient.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<br>
<%= link_to 'Back' , av_show_all_patients_path , :class => 'function_button menu2' %>