<title>Create new Individual success</title>

<table class="background">
  <tr class="background">
    <td width="75px"></td>
    <td><h1>Success</h1></td>
  </tr>
</table>

<h1>New Individual created</h1><br>

<%= link_to 'Back', av_show_all_patients_path, :class => 'function_button menu' %>

