<title>Welcome</title>
<%= image_tag "/DDRC_Icon.jpg" %>
<h1>Welcome to the DDRC Collector APP</h1>

<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>

<br> <%= link_to 'Log in', log_in_path, :class => 'function_button' %>

