<title>Create new Behavior Error</title>

<table class="background">
  <tr class="background">
    <td width="75px"></td>
    <td><h2>Create new Behavior Error</h2></td>
  </tr>
</table>


<% if @behavior.errors.any? %>
    <h2>Invalid Assignment</h2>
    <div class='error_messages' align="left">
      <ul>
        <% for message in @behavior.errors.full_messages %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<br>
<%= link_to 'Back' , av_create_new_behavior_path , :class => 'function_button menu2' %>