<title>Provider Assignment Error</title>

<div data-role="header">
  <h1>Provider Assignment Error</h1>
  <div data-role="navbar">
    <ul>
      <li><%= link_to 'Home', admin_home_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-home' %></li>
      <li><%= link_to 'Logout', log_out_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-power' %></li>
    </ul>
  </div>
</div>

<div data-role="content">
  <% if @patientprovider.errors.any? %>
      <h2>Invalid Assignment :( <br> Please inform admin how you got here</h2>
      <div class='error_messages' align="left">
        <ul>
          <% for message in @patientprovider.errors.full_messages %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>
</div>
