<title>Create new Incident success</title>

<table class="background">
  <tr class="background">
    <td width="75px"></td>
    <td><h1>Success</h1></td>
  </tr>
</table>

<h1>New Incident created</h1><br>
<%= link_to 'Back', :back, :class => 'function_button menu' %>