@charset "utf-8";
.button {
    -moz-box-shadow: 0px 1px 0px 0px #757269;
    -webkit-box-shadow: 0px 1px 0px 0px #757269;
    box-shadow: 0px 1px 0px 0px #757269;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fafafa), color-stop(1, #dbd9d4));
    background:-moz-linear-gradient(top, #fafafa 5%, #dbd9d4 100%);
    background:-webkit-linear-gradient(top, #fafafa 5%, #dbd9d4 100%);
    background:-o-linear-gradient(top, #fafafa 5%, #dbd9d4 100%);
    background:-ms-linear-gradient(top, #fafafa 5%, #dbd9d4 100%);
    background:linear-gradient(to bottom, #fafafa 5%, #dbd9d4 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#dbd9d4',GradientType=0);
    background-color:#fafafa;
    -moz-border-radius:15px;
    -webkit-border-radius:15px;
    border-radius:15px;
    border:0px solid #050400;
    display:inline-block;
    cursor:pointer;
    color:#060800;
    font-family:arial;
    font-size:14px;
    font-weight:bold;
    padding:12px 16px;
    text-decoration:none;
    text-shadow:0px 1px 0px #faf5fa;
    text-align: center;
}
.button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dbd9d4), color-stop(1, #fafafa));
    background:-moz-linear-gradient(top, #dbd9d4 5%, #fafafa 100%);
    background:-webkit-linear-gradient(top, #dbd9d4 5%, #fafafa 100%);
    background:-o-linear-gradient(top, #dbd9d4 5%, #fafafa 100%);
    background:-ms-linear-gradient(top, #dbd9d4 5%, #fafafa 100%);
    background:linear-gradient(to bottom, #dbd9d4 5%, #fafafa 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dbd9d4', endColorstr='#fafafa',GradientType=0);
    background-color:#dbd9d4;
}
.button:active {
    position:relative;
    top:1px;
}
.width{
    width: 138px !important;
}

