<% content_for :title do %>
    Incidents Graph
<% end %>

<% content_for :header do %>
    <%= link_to 'Back', av_show_all_incidents_path, :class => 'ui-btn ui-btn-icon-bottom ui-icon-back' %>
<% end %>

  <%= line_chart Incident.group(:created_at).count %>

<% content_for :panel do %>
    <ul>
      <li>#TODO</li>
    </ul>
<% end %>
