<title>Inactive Providers</title>

<table class="background">
  <tr class="background">
    <td width="75px"></td>
    <td><h1>Inactive Providers</h1></td>
  </tr>
</table>

<% if @provider_array != nil %>
    <div style="height:300px;overflow: auto;">
      <table width ="50%" align="center"><tr><td>
        <% @provider_array.each do |p| %>
            <ul class ="collapsibleList">
              <li><%= button_tag p.provider_name,:type => 'button',:class => 'provider_button full' %>
                <ul>
                  <div align="right">
                    <li><%= link_to 'Reactivate',av_reactivate_provider_path(id: p.id), data: { confirm: 'Are you sure you wish to reactivate provider: '+p.provider_name }, :class => 'function_button' %></li><br><br>
                    <li> <%= link_to 'Destroy', av_destroy_provider_path(id: p.id), data: { confirm: 'Are you sure you wish to destroy provider: '+p.provider_name+ '? This will eliminate all incidents with this provider!' }, :class => 'function_button' %>  </li>
                  </div>
                </ul>
              </li>
            </ul>
        <% end %>
      </td></tr></table>
      <script>CollapsibleLists.apply();</script>
    </div>
<% else %>
    <h3>None</h3>
<% end %>

<br>
<%= link_to 'Back', av_show_all_providers_path, :class => 'function_button menu' %>
