<div data-role="footer" data-position="fixed">
  <div data-role="navbar">
    <ul>
      <li><%= submit_tag 'Submit', :class => 'ui-btn ui-btn-icon-bottom ui-icon-star' %></li>
      <li><%= link_to 'Cancel', locals[:link],
                      :class => 'ui-btn ui-btn-icon-bottom ui-icon-delete'  %></li>
    </ul>
  </div>
</div>